.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
testEslint/**
testProject/**
testTslint/**
testWorkspaceFolder/**
testWorkspace.code-workspace
.prettierignore
.travis.yml
scripts/**
**/*.map
.gitignore
.github/**
tsconfig.json
vsc-extension-quickstart.md
package-lock.json
CONTRIBUTORS.md

node_modules/**/*.yml
node_modules/**/*.yaml
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/*.mailmap
node_modules/**/*.txt
node_modules/**/*.lock
node_modules/**/*/*.spec.js
node_modules/**/*/*.test.js

node_modules/**/*/.*ignore
node_modules/**/*/.*rc

node_modules/**/*/test/
node_modules/**/*/tests/
node_modules/**/*/spec/
node_modules/**/*/specs/

node_modules/**/*/docs/
node_modules/**/*/example/
node_modules/**/*/examples/

node_modules/**/*/.editorconfig
node_modules/**/*/bower.json
