.github/
.husky/
.vscode/
.vscode-test/
.vscode-test-web/
out/
scripts/
src/
test-fixtures/
.gitattributes
.gitignore
.nvmrc
.prettierignore
.prettierrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CONTRIBUTORS.md
tsconfig.json
webpack.config.js
yarn.lock

node_modules/
!node_modules/prettier
