.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
testProject/**
testWorkspaceFolder/**
testWorkspace.code-workspace
.prettierignore
.travis.yml
scripts/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
